/*Cart Styles*/

.cart-header-orange {
  background: linear-gradient(135deg, #f07f13, #ff9a2f);
  border-bottom: 2px solid black;
  letter-spacing: 0.5px;
}

.checkout-btn {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.checkout-btn:hover {
  background-color: #f28e2c;
  color: black;
}

.clear-cart-btn {
  width: 100%;
  background-color: #d69393;
  color: white;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.clear-cart-btn:hover {
  background-color: #c27d7d;
}

